*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    border: 2px solid red;
    border-radius: 23px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
   
    display: flex;
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 26px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 6px gray,5px 5px 6px gainsboro;
    font-family: 'Times New Roman', Times, serif;

}
.nav-list li a:hover{
    color:white;
    
    background-color: rgb(102, 0, 219);
}
.rightNav{
   
    width: 30%;
    text-align: right;
    padding: 0 23;
    margin-right: 30px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px gray;
    border-radius: 9px;
   
}
.background{
    background: rgba(0, 0,0, 0.7) url('../Images/nt.jpg');
    background-blend-mode: darken;
}
.firstsection{
    height: 100vh;
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firsthalf{ 
    width: 50%;
  
   display: flex;
   flex-direction: column;
    justify-content: center;

}
.secondhalf{
    width: 40%;
}
.secondhalf img{
    border: 4px solid white;
    border-radius: 40px;
    display: block;
}
.text-big{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}
.text-small{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    padding: 8px 20px;
    margin: 7px 2px;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 17px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
    font-size: 13px;
}
.btn-dark{
    color:black;
    border: 2px solid gray ;
    align-items: center;
    box-shadow: 5px 5px 6px gray,5px 5px 6px gainsboro;
}
.secRight{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    margin: auto;
    
    
}
.sectionTag{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.sectionSubTag{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.paras{
    padding:0px 10px;
}
.section{
        height: 500px;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-evenly;
        width: 75%;
        margin: auto;
}
.section-left{
    flex-direction: row-reverse;
}
.thumbnail img{
    border: 2px solid black;
   margin-top:12px;
    border-radius:7px;
}
.contact{
    background-color: rgb(202, 198, 198);
    height: 85vh;
}
.text-center{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 7px;
    font-size: 36px;
}
.form{
    max-width: 334px;
    margin: auto;
}
.form input{
    width:100%;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 6px;
    margin: 8px 0px;
    padding: 5px 3px;
}
.text-footer{
    text-align: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
}
/*Cli*/
.cli .grid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
}
.img{
    width: 60%;
    height: 30%;
}
.cli .grid >*:first-child{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
