.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
.ih{
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}
.dice_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.imgg2{
  visibility: hidden;
  
  width: 100%;
  
  border: 1px red solid;
  border-radius: 130px;
}
.imgg{
  visibility: hidden;
  width: 17%;
  height: 10%;
  border: 1px red solid;
  border-radius: 130px;
}
